/* TOP */
/*index.html*/

body {
	background-color: #222629;
	color: white;

}

hr {
	height: 1px;
	color: #86C232;
	background-color:#86C232;
	border:none;
}
/*H3 = name */
h3, h2, p {
	font-family: Trebuchet MS, Helvetica, sans-serif;
}

h3.mname {
	margin-left: 5%;
	margin-top: 2%;

}

h2 {
	color: #86C232;
}

/*MENU LIST HERE*/

ul {
	list-style-type: none; /*to remove bullets lol*/
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222629;

	
}

li {
	float:left;
	margin-left: 5%;
	margin-right: 2%;


}

li a { /* sa loob ng li */
	display: block;
	color: white;
	text-align: center;
	padding: 14px 143px;
	text-decoration: none;
	font-family: Trebuchet MS, Helvetica, sans-serif;	
	font-size: 100%;


}


li a:hover:not(.active) {
	background-color: #474B4F;

}

.active {
	background-color: #86C232;
	font-weight: bold;
}

.container{
	width:100%;
	margin:auto;
	overflow:hidden;
}
.frontimg{
	width:100%;
	margin:auto;
	

}

/*body*/

.intro {
	color: #86C232;
	margin-top: 50px;
}
.section {
	margin: auto;
}

.footer {
	color: #6B6E70;
}

img {
	width: 100%;
	height: 600px;
	object-fit:fill;
	
}



/* about.html*/ 

.myimg {
	padding: none;
	height: 15%;
	width: 15%;
	border-radius: 100%;

}

.main {
	margin-top: 5%;
}

